.gitbook-link{
	display: none !important;
}
.book.font-size-2 .book-body .page-inner section{
	font-size: 1em;
}
.markdown-section {
    line-height: 2;
}

.markdown-section h1,.markdown-section h2,.markdown-section h3,.markdown-section h4,.markdown-section h5,.markdown-section h6 {
    margin-top: 1.275em;
    margin-bottom: .5em;
    font-weight: 400;
}

